body {
    background-image: url('https://i.pinimg.com/originals/73/26/4e/73264ebc46c4ec0a7eb9147f6802f559.jpg');
    color: gray;
    margin: 0;
    padding: 0;
}

body a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;  
}

body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}

.home {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 150vh;
    height: 85vh;
    margin:auto;
}

.home a {
    font-size: 40px;
    margin: 150px;
    border: 3px solid gray;
    padding: 5px;
}

.home a:hover {
    background-color: gray;
    color: black;
    border-color: black;
}

.home h3 {
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    font-size: 16px;
}

.homefooter {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    height: 10%;
    display: block;
}